
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>授权经销商</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--aos-->
	<link rel="stylesheet" href="css/aos.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--style-->
    <link href="css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<!--nav-->
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="icons/logo.png" alt="" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">产品</a></li>
            <li><a href="#about">售后&支持</a></li>
            <li><a href="#contact">社区</a></li>
          </ul>
          <div class="nav_btn fz_0">
        	<a href="#" class="bye_btn dis_ib ver_m">立即购买</a>
        	<a href="#" class="login_btn dis_ib ver_m"></a>
        	<a href="javascript:;" class="language_btn dis_ib ver_m"><div class="slide_box"><span>中文</span><span>English</span></div></a>
          </div>
        </div>
      </div>
    </nav>
	<!--container-->
	<div class="container sqjxs" data-aos="zoom-in">
		<div class="row col-md-9">
			<form role="form">
				<h1>首页/成为授权经销商</h1>
				<div class="prompt">
					<div>工作时间：周一到周五 9:30 - 18:30（北京时间GMT+8)</div>
					<div>联系电话：+86 755 8672 5036</div>
				</div>
				<div class="tab_box">
					<div class="tab_tit">
						<span class="active">1 申请企业信息</span>&nbsp;&nbsp;/&nbsp;&nbsp;<span>2 商业背景信息</span>
					</div>
					<!--页面1-->
					<div class="tab_con">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="公司贸易名称*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="公司注册名称*">
						</div>
						<div class="pub_tit2">
							<div>公司地址信息</div>
							<div class="font14">公司注册国家</div>
						</div>
						<div class="form-group">
							<select class="form-control width20 dis_ib ver_m">
								<option>亚洲</option>
								<option>欧洲</option>
							</select>
							<select class="form-control width20 dis_ib ver_m ml5">
								<option>国家/地区</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="注册地址*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="经营地址*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="收货地址*">
						</div>
						<div class="pub_tit2">企业网站信息</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="企业网站地址*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="电商具体网址*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="其他*">
						</div>
						<div class="pub_tit2">申请人信息</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="名*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="姓*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="职位*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="电话*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="传真*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="邮箱地址（同一邮箱地址一天只能提交一次）*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control width60 dis_ib ver_m" placeholder="输入验证码">
							<img src="icons/code.png" class="dis_ib ver_m" alt="" />
						</div>
						<button type="submit" class="btn btn-default active">下一步</button>
					</div>
					<!--页面2-->
					<div class="tab_con" style="display: none;">
						<div class="font14">公司简介</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="企业类型*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="经营年限*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="经营智能数码/翻译产品相关年限*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="年营业额（万人民币）*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="自营门店数">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="员工总数*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="当前主营业务（占营业额50%及以上）">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="当前是否代理其他翻译硬件或其他行业（智能硬件类）的品牌？如是，请告知具体品牌*">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="当前是否为时空壶授权代理商的二级经销商？如是，请告知具体代理商名称*">
						</div>
						<div class="pub_tit3">您计划向以下哪些行业销售大疆产品（多选）*</div>
						<div class="form-group dis_ib ver_t">
							<div class="font12">渠道消费</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">智能科技类</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">消费电子类</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">手机通讯类 </span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">IT数码类</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">户外休闲类</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">时尚类</span> 
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">其他，请列出</span>
								</label>
							</div>
							<input type="text" class="form-control" placeholder="请列出*">
						</div>
						<div class="form-group dis_ib ver_t ml10 checkbox_item2">
							<div class="font12">行业应用</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">教育/语言学习</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">旅游</span> 
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">会议/展览</span> 
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">国际商务</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">跨国NGO</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">国际基建</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">政府采购</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">其他，请列出</span>
								</label>
							</div>
							<input type="text" class="form-control" placeholder="请列出*">
						</div>
						<div class="pub_tit3">您计划通过哪些渠道销售时空壶产品？（多选）*</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">自家实体门店/加盟门店（请提供店铺照片：店内/店外）</span>
								</label>
							</div>
							<input type="text" class="form-control dis_ib ver_m width40" placeholder="请上传JEG/JEEP/PNJ/BMP格式文件（文案大小共计5M）" readonly="readonly" />
							<div class="upload_box dis_ib ver_m">
								<span>上传图片</span>
								<input type="file" id="inputfile">
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">线上零售，请提供网点链接</span>
								</label>
							</div>
							<input type="text" class="form-control dis_ib ver_m width40" placeholder="请输入一个有效的网址* " />
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">分销&批发</span>
								</label>
							</div>
							<input type="text" class="form-control dis_ib ver_m width40" placeholder="请上传JEG/JEEP/PNJ/BMP格式文件（文案大小共计5M）" readonly="readonly" />
							<div class="upload_box dis_ib ver_m">
								<span>上传图片</span>
								<input type="file" id="inputfile">
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="dis_ib ver_m"><span class="font12 dis_ib ver_m">其他，请列出</span>
								</label>
							</div>
							<input type="text" class="form-control dis_ib ver_m width40" placeholder="请列出* " />
						</div>
						<div class="pub_tit3">您意向代理销售时空壶产品（多选）*</div>
						<div class="form-group dis_ib ver_t">
							<div class="checkbox">
								<label>
									<input type="checkbox">WT2 翻译二级 
								</label>
							</div>
						</div>
						<div class="form-group dis_ib ver_t ml10">
							<div class="checkbox">
								<label>
									<input type="checkbox">2G产品
								</label>
							</div>
						</div>
						<div class="pub_tit3">销售国家/省份/城市</div>
						<div class="form-group">
							<select class="form-control width20 dis_ib ver_m">
								<option>亚洲</option>
								<option>欧洲</option>
							</select>
							<select class="form-control width20 dis_ib ver_m ml5">
								<option>国家/地区</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="成为时空壶代理首半年的销售收入预估（万元）*">
						</div>
						<button type="submit" class="btn btn-default active">提交</button>
						<button type="submit" class="btn btn-default">上一步</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-2 logo" data-aos="fade-up"><img src="icons/logo_b.png" alt=""/></div>
				<div class="col-xs-12 col-md-7">
					<dl class="col-xs-4 col-md-2 col-md-offset-1">
						<dt>时空壶</dt>
						<dd>
							<div><a href="#">关于我们</a></div>
							<div><a href="#">招募精英</a></div>
							<div><a href="#">联系我们</a></div>
						</dd>
					</dl>
					<dl class="col-xs-4 col-md-2">
						<dt>新闻中心</dt>
						<dd>
							<div><a href="#">公司动态</a></div>
							<div><a href="#">媒体报道</a></div>
							<div><a href="#">品牌活动</a></div>
						</dd>
					</dl>
					<dl class="col-xs-4 col-md-3">
						<dt>商务合作</dt>
						<dd>
							<div><a href="#">成为授权经销商</a></div>
							<div><a href="#">企业采购/定制</a></div>
						</dd>
					</dl>
					<dl class="col-xs-4 col-md-2">
						<dt>售后和支持</dt>
						<dd>
							<div><a href="#">产品支持</a></div>
							<div><a href="#">维修中心</a></div>
							<div><a href="#">售后服务政策</a></div>
						</dd>
					</dl>
					<dl class="col-xs-4 col-md-2">
						<dt>社区</dt>
						<dd>
							<div><a href="#">论坛</a></div>
						</dd>
					</dl>
				</div>
				<div class="col-xs-12 col-md-3 addition" data-aos="fade-down">
					<p>订阅我们</p>
					<p>了解最新产品、活动及优惠</p>
					<div class="email_box">
						<input type="text" placeholder="请输入您的邮箱地址"/>
						<button></button>
					</div>
					<div class="share_box fz_0">
						<a href="#"><img src="icons/facebook.png" alt=""/></a>
						<a href="#"><img src="icons/twitt.png" alt=""/></a>
						<a href="#"><img src="icons/carm.png" alt=""/></a>
						<a href="#"><img src="icons/youtube.png" alt=""/></a>
						<a href="#"><img src="icons/weibo.png" alt=""/></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--aos-->
	<script src="js/aos.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/common.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
	<script>
		aosAddAttr($('.block2 dl'));
		$('.tab_tit span').click(function(){
			var _o = $(this);
			_o.addClass('active').siblings().removeClass('active');
			_o.closest('.tab_box').find('.tab_con').hide().eq(_o.index()).show();
		});
	</script>
	<script src="js/aosInit.js"></script>
  </body>
</html>
