<!--售后和支持页面 Fizz-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>售后和支持</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--aos-->
    <link rel="stylesheet" href="css/aos.css"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--style-->
    <link href="css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .service_item:hover {
            box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
        }
        button:focus,input:focus{
            outline: none;
        }
    </style>
</head>

<body>
<!--nav-->
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="icons/logo.png" alt=""/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="product.html">产品</a></li>
                <li class="active"><a href="customer_service.html">售后&支持</a></li>
                <li><a href="community.html">社区</a></li>
            </ul>
            <div class="nav_btn fz_0">
                <a href="#" class="bye_btn dis_ib ver_m">立即购买</a>
                <a href="#" class="login_btn dis_ib ver_m"></a>
                <a href="javascript:;" class="language_btn dis_ib ver_m">
                    <div class="slide_box"><span>中文</span><span>English</span></div>
                </a>
            </div>
        </div>
    </div>
</nav>
<!--banner-->
<div class="banner pos_r">
    <img src="icons/shouhou-banner.png" width="100%" alt="" data-aos="zoom-in"/>
    <div class="banner_text" data-aos="zoom-in">>
        <h4>我们可以怎么帮你？</h4>
        <div class="input_box"><input type="text" placeholder="输入关键词"/>
            <button></button>
        </div>
    </div>
</div>
<!--container-->
<div class="container shouhou">
    <div class="block1" data-aos="fade-up">
        <img src="icons/weixiu.png" width="100%" alt=""/>
    </div>
    <div class="block2">
        <div class="block2_con row" data-aos="zoom-in">
            <div class="col-sm-4 item">
                <dl class="service_item">
                    <dt><img src="icons/zhichi.png" class="icon1" alt=""/>
                        <img src="icons/zhichi-hover.png" class="icon2" alt=""/></dt>
                    <dd>
                        <h4>产品支持</h4>
                        <p>我们很高兴为您提供帮助</p>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4 item">
                <dl class="service_item">
                    <dt><img src="icons/xiufu.png" class="icon1" alt=""/>
                        <img src="icons/xiufu-hover.png" class="icon2" alt=""/></dt>
                    <dd>
                        <h4>产品支持</h4>
                        <p>我们很高兴为您提供帮助</p>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4 item">
                <dl class="service_item">
                    <dt><img src="icons/shouhou.png" class="icon1" alt=""/>
                        <img src="icons/shouhou-hover.png" class="icon2" alt=""/></dt>
                    <dd>
                        <h4>产品支持</h4>
                        <p>我们很高兴为您提供帮助</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2 logo" data-aos="fade-right"><img src="icons/logo_b.png" alt=""/></div>
            <div class="col-xs-12 col-md-7">
                <dl class="col-xs-4 col-md-2 col-md-offset-1">
                    <dt>时空壶</dt>
                    <dd>
                        <div><a href="#">关于我们</a></div>
                        <div><a href="#">招募精英</a></div>
                        <div><a href="#">联系我们</a></div>
                    </dd>
                </dl>
                <dl class="col-xs-4 col-md-2">
                    <dt>新闻中心</dt>
                    <dd>
                        <div><a href="#">公司动态</a></div>
                        <div><a href="#">媒体报道</a></div>
                        <div><a href="#">品牌活动</a></div>
                    </dd>
                </dl>
                <dl class="col-xs-4 col-md-3">
                    <dt>商务合作</dt>
                    <dd>
                        <div><a href="#">成为授权经销商</a></div>
                        <div><a href="#">企业采购/定制</a></div>
                    </dd>
                </dl>
                <dl class="col-xs-4 col-md-2">
                    <dt>售后和支持</dt>
                    <dd>
                        <div><a href="#">产品支持</a></div>
                        <div><a href="#">维修中心</a></div>
                        <div><a href="#">售后服务政策</a></div>
                    </dd>
                </dl>
                <dl class="col-xs-4 col-md-2">
                    <dt>社区</dt>
                    <dd>
                        <div><a href="#">论坛</a></div>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 col-md-3 addition" data-aos="fade-left">
                <p>订阅我们</p>
                <p>了解最新产品、活动及优惠</p>
                <div class="email_box">
                    <input type="text" placeholder="请输入您的邮箱地址"/>
                    <button></button>
                </div>
                <div class="share_box fz_0">
                    <a href="#"><img src="icons/facebook.png" alt=""/></a>
                    <a href="#"><img src="icons/twitt.png" alt=""/></a>
                    <a href="#"><img src="icons/carm.png" alt=""/></a>
                    <a href="#"><img src="icons/youtube.png" alt=""/></a>
                    <a href="#"><img src="icons/weibo.png" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--aos-->
<script src="js/aos.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/common.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script>
  aosAddAttr($('.block2 dl'))
</script>
<script src="js/aosInit.js"></script>
</body>
</html>
