<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>目录</title>
    <link href="./../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../lib/index.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <form class="form-horizontal" style="margin:0 auto">
            <div class="form-group">
              <label for="input1" class="col-sm-2 col-sm-offset-3 control-label text-left">表单第1项:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="input1" placeholder="请输入...">
              </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-2 col-sm-offset-3 control-label text-left">表单第2项:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="input2" placeholder="请输入...">
                </div>
            </div>
            <div class="form-group">
                <label for="input3" class="col-sm-2 col-sm-offset-3 control-label text-left">表单第3项:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="input3" placeholder="请输入...">
                </div>
            </div>
            <div class="form-group">
                <label for="input4" class="col-sm-2 col-sm-offset-3 control-label text-left">表单第4项:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="input4" placeholder="请输入...">
                </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">确定</button>
              </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-info">上一页</button>
                    <button type="submit" class="btn btn-info">下一页</button>
                </div>
            </div>


          </form>

    </div>

    <script src="./../lib/jquery.min.js"></script>
    <script src="./../lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>